
.all {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    height: auto;
}

/* HEADER */
.header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 20px;
    text-align: center;
    color: black;
    z-index: 1000;
}

.header .logo-container {
    padding-right: 12px;
    position: absolute;
    top:10px;
    text-align: left;
    top: 5px;
}

/* HEADER */
.fw-5 {
    font-weight: 500;
}

a:hover.linkhome--blue
{
    color: blue;
    text-decoration: none;
}

a.linkhome--blue
{
    color: white;
    text-decoration: none;
}
:root {
    --header-height: 10vh;
}
