.fw-5 {
    font-weight: 500;
}

a:hover.link__destinationhome--green
{
    color: rgb(0, 173, 0);
    text-decoration: none;
}

a.link__destinationhome--green
{
    color: white;
    text-decoration: none;
}
:root {
    --header-height: 10vh;
}

.all {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    height: 2000px;
}

/* BEGIN: HEADER */
.header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 20px;
    text-align: center;
    color: black;
    z-index: 1000;
}

.header .logo-container {
    padding-right: 12px;
    position: absolute;
    top:10px;
    text-align: left;
    top: 5px;
}
.UP{
    position: fixed;
    top:80%

}





/* END: HEADER */
